{
  "extends": ["typescript-airbnb-prettier"],
  "rules": {
    "import/prefer-default-export": "off",
    "semi": ["error", "always"],
    "eol-last": ["error", "always"]
  },
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
